.item-detail
    box-sizing: border-box
    display: flex
    align-items: center
    padding: $space-medium
    gap: $space-big
    
    .icon
        font-size: 20px

    .label
        display: inline-block
        color: $color-subtitles
        font-size: 13px
        font-style: italic
        margin-bottom: calc($space-small/2)

    .text-information
        flex-shrink: 10

    p
        margin-bottom: 0