@import "../base/_variables"

.item-order
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: white
    margin-bottom: 8px // REFACTOR for reference, this goes on the parent
    padding: $space-medium
    border-radius: $border-radius
    text-decoration: none

    .spacer
        flex-grow: 1

    .sub-container
        display: flex
        flex-direction: column
        justify-content: center

        .icon
            align-self: center

    .sub-container.details
        .title
            color: $color-text
            margin-bottom: 0

        .id
            color:$color-subtitles
    
    .sub-container.status
        margin-right: $space-medium
        color: $color-accent