@font-face {
  font-family: "Circular";
  src: url("../../assets/fonts/circular/circular-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../../assets/fonts/circular/circular-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
