@import "./_variables"
@import "./_fonts"

body
    margin: 0
    padding: 0
    background-color: purple

.App
    font-family: "Circular", Helvetica, Arial, sans-seriff
    color: white
    padding: $space-medium