@import "./_variables"
@import "./_fonts"

body
    margin: 0
    padding: 0
    background-color: $color-background

.App
    font-family: "Circular", Helvetica, Arial, sans-seriff
    color: white

    #navigation-bar
        margin-bottom: $space-big